<form action="/dashboard/addhotellist" method="POST">
  <div class="field">
    <label class="label">Hotel! list title</label> <input class="input" type="text" placeholder="Enter hotel list title" name="title">
  </div>
  <button class="button is-link">Add Hotel! list</button>
</form>